.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  background-color: #d6fff6;
  color: #264143;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.nav {
  align-self: start;
  background-color: #4dccbd;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 4rem;
  width: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: #231651;
  cursor: default;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav .interact:hover {
  color: #2374ab;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.hidden {
  visibility: hidden;
}

.button {
  background: #ff8484;
  border-radius: 999px;
  box-shadow: #ff8484 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button:hover {
  background: #da6c6c;
}

.button.small {
  font-weight: 500;
  padding: 4px 18px;
}

.inputText {
  padding: 4px 18px;
  border-radius: 16px;
  border: 2px solid #2374ab;
  margin: 0.6rem;
  background-color: transparent;
  font-family: var(--font-geist-sans);
}

.center {
  text-align: center;
}

.colorSwatch {
  content: "";
  height: 70px;
  width: 70px;
  border: 2px solid #264143;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 0.8rem;
}

.container ul {
  padding-top: 2px;
  list-style: none;
  width: 4rem;
  text-align: left;
}

.container span {
  font-weight: 600;
} 

.footer {
  align-self: start;
  background-color: #4dccbd;
  text-align: center;
  padding: 0.4rem;
  width: 100%;
  align-self: end;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}